.brand{
  color: royalblue;
}

.error{
  color: lightcoral;
}

table, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

a:link {
  text-decoration: none;
  color: royalblue;
}